{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

  <div class="centergamediv">
    <div class="row">
  
      <div class="col-xs-12">
        <h1>{% block title %}Register{% endblock %}</h1>
      </div>
  
      <div class="col-xs-12">
        <form method="post">
          <label for="username">Username</label>
          <input name="username" id="username" required>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required>
          <p>Master password required to register as an admin account:</p>
          <input type="password" name="adminpass" id="adminpass">
          <input class="inputbtn" type="submit" value="Register">
        </form>
      </div>
  
    </div>
  </div>
  
{% endblock %}