<!doctype html>
<title>{% block title %}{% endblock %} - WebApplication</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<script type="application/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>


<nav>
  <h1>A FUN PUZZLE</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      {% if g.user['isadmin'] == 1 %}
      <li><a href="{{ url_for('play.edit') }}">Edit Puzzle</a>
      <li><a href="{{ url_for('play.manage') }}">Manage User</a>

      {% endif %}
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <div class="row" >
    <div class="col-sm-3 col-xs-12 centerdiv maindivs">
      <div class="row">
        <div class="col-sm-12 col-xs-6 centerdiv">
          <a href="/play#iFrame1">
            <div class="play buttondiv">
                
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-xs-6 centerdiv">
          <a href="/restart">
            <div class="restart buttondiv">
                
            </div>
          </a>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-xs-12 gamediv maindivs">
  
  {% block content %}
  {% endblock %}

</div>

<div class="col-sm-3 col-xs-12 centerdiv maindivs">
  <div class="row">
    <div class="col-sm-12 col-xs-6 centerdiv">
      <a href="/score">
        <div class="score buttondiv">
            
        </div>
      </a>
    </div>
    <div class="col-sm-12 col-xs-6 centerdiv">
      <a href="/rules">
        <div class="rules buttondiv">
            
        </div>
      </a>
    </div>
  </div>
</div>

</div>
</section>