html {
    font-family: sans-serif;
    background: #000000;
    background-image: url("pics/background.jpg");

}

body {
    min-height: 100vh;
    margin: 0 auto;
    background-color: #00000000;
    
}

.centre{
    display: flex;            
    display: -webkit-flex;            
    justify-content: center;            
    align-items: center;   
}

.gamediv{
    padding-top: 110px;
    overflow: auto;
    height: 96vh;
    display: flex;            
    display: -webkit-flex;            
    transition: 0.3s;
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
}
.gamediv:hover {
    box-shadow: 0px 0px 10px rgb(39, 39, 39);
  }

.centerdiv{
    height: 96vh;
    display: flex;            
    justify-content: center;     
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(72, 2, 2, 0.5));
}

.btndiv{
    display: flex;            
    justify-content: center;    
}

.buttondiv{
    margin-top: 20vh;
    margin-left: 20px;
    margin-right: 20px;
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;
}
.buttondiv:hover {
    filter: drop-shadow(0px 0px 10px #ffffff);
  }

@media screen and (max-width: 768px) {
	.buttondiv {
        margin-top: 3vh;
        margin-bottom: 3vh;
	}
    .gamediv{
        margin-top: 0vh;
        padding-top: 75px;
        height: auto;
    }
    .centerdiv{
        height: auto;
    }
    table{
        width: 400px;
    }
}


.play{
    background-image: url("pics/play.png");
}
.restart{
    background-image: url("pics/restart.png");
}
.score{
    background-image: url("pics/score.png");
}
.rules{
    background-image: url("pics/rules.png");
}

.centergamediv{
    width: 100%;
    justify-content: center;
    align-items: center;
}

iframe {
    margin-top: 10vh;
    height: 600px;
    width: 365px;
}

table {
    margin-bottom: 110px;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f226}
  tr:nth-child(odd){background-color: #f8f8f846}

  
  th {
    background-color: #aa040442;
    color: white;
  }

.scoreboarddiv{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("pics/board.png");
    background-size: 100% 100%;

}

.rulestext{
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    font-family: cursive;
    text-align: center;
    font-family: serif;
    color: #49260d;
    margin: 1rem 0;
}

nav {
    width: 100%;
    background: lightgray;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    min-height: 4vh;
}

nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a,
nav ul li span,
header .action {
    display: block;
    padding: 0.5rem;
}

#btndiv button{
    background-color: #ffc8c6;
    border: none;
    color: #5b2a32;
    height: 54px;
    width: 32%;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}

.flash {
    text-align: center;
    margin: 1em 0;
    padding: 1em;
    background: #f6caca;
    border: 1px solid #a83737;
}

input.danger {
    color: #cc2f2e;
}
input.warning {
    color: #aa9b2a;
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}