{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div class="row" >
  <div class="col-sm-3 col-xs-12 centerdiv maindivs">
    <div class="row">
      <div class="col-sm-12 col-xs-6 centerdiv">
        <a href="/play#iFrame1">
          <div class="play buttondiv">
              
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-xs-6 centerdiv">
        <a href="/restart">
          <div class="restart buttondiv">
              
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12 gamediv maindivs">


    <iframe frameborder='0' noresize='noresize' src="{{ iframe }}" id="iFrame1" frameborder="0"></iframe>


  </div>

  <div class="col-sm-3 col-xs-12 centerdiv maindivs">
    <div class="row">
      <div class="col-sm-12 col-xs-6 centerdiv">
        <a href="/score">
          <div class="score buttondiv">
              
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-xs-6 centerdiv">
        <a href="/rules">
          <div class="rules buttondiv">
              
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
{% endblock %}