{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

    <div class="row">
      <div class="col-xs-12">
        <h1>{% block title %}Score Board {% endblock %}</h1>
      </div>
      <div class="col-xs-12">
        <table id="scoreboard">
          <tr>
            <th>Scores</th>
            <th>Max Combo</th>
            <th>Date</th>
            <th>Player</th>
          </tr>
          {% for post in posts %}
          <tr>
            <td>{{ post['maxcombo'] }}</td>
            <td>{{ post['body'] }}</td>
            <td>{{ post['score'].strftime('%Y-%m-%d') }}</td>
            <td>{{ post['player_id'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>

{% endblock %}