body {
    margin: 0;
}

.tile {
    /*float: left; */
    position: absolute;
    margin: 0 0px 0px 0;
    cursor: grab;
    /*border-radius:20px;*/

}

.result {
    width: 32%;
    height: 100px;
    display: inline-block;
}

.last {
    width: 33%;
}

.resultdata,
.result p {
    text-align: center;
}

.tile_edit {
    float: left;
    margin: 0 0px 0px 0;
}

.tile:hover {
    box-shadow: 5px 5px 4px 4px rgba(20%, 20%, 20%, 0.2) inset;
}

.tile:active {
    box-shadow: 7px 7px 4px 4px rgba(20%, 20%, 20%, 0.5) inset;
}

.r {
    background-image: url("./icons/html5.png");
    background-size: cover;
}

.g {
    background-image: url("./icons/w3.png");
    background-size: cover;
}

.b {
    background-image: url("./icons/css.png");
    background-size: cover;
}

.p {
    background-image: url("./icons/bootstrap.png");
    background-size: cover;
}

.y {
    background-image: url("./icons/js.png");
    background-size: cover;
}

.demo {
    background-color: #333;
    transition: all 1s;

}

.demo:active {
    box-shadow: 0 0 4px 6px rgba(204, 0, 0, 0.579);
    animation: glow 0.8s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        box-shadow: 0 0 4px 6px rgba(204, 0, 0, 0.864)
    }

    to {
        box-shadow: 0 0 4px 6px rgba(204, 0, 0, 0.047)
    }
}

.container {
    margin-top: 10px;
}

.sel {
    /*
    opacity:0.5;
    -moz-opacity:0.5;
    -khtml-opacity: 0.5; 
    filter:alpha(opacity=50);
    */
    box-shadow: 2px 2px 3px 3px rgba(20%, 20%, 20%, 0.5) inset;
}

.gone {
    background-color: #fff;
}

.progress {
    margin-top: 10px;
    position: relative;
    height: 10px;
    width: 94%;
    border: 10px solid #f4a261;
    border-radius: 15px;
}

.progress .countdown {
    position: absolute;
    background-color: #ffffff;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres 8s linear;
}

.hidden {
    visibility: hidden;
}

.shown {
    visibility: visible;
}

@keyframes progres {
    0% {
        width: 100%;
    }

    25% {
        width: 75%;
    }

    50% {
        width: 50%;
    }

    75% {
        width: 25%;
    }

    100% {
        width: 0%;
    }
}

;