{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div class="row rulestext">
  <h1>{% block title %}Rules{% endblock %}</h1>

    <p>Moving a tile counts as one round. </p>
    <img src="static/css/pics/demo/movedemo.gif">


    <p>You can move tiles as far as you want; the only limitation is a time limit of 8 seconds. Before moving a tile,
      you
      can think as long as you want (even closing the app and coming back later). As soon as you begin moving, the timer
      will count down, and you must finish your move within 8 seconds.</p>
    <img src="static/css/pics/demo/timedemo.gif">

  <p>When you move a tile, it will swap positions with the tile it moves toward, just like in traditional match-three
    games. However, in this game you can move as far as you want instead of being limited to one square, so you can drag
    your tile all over the board to create multiple matches.</p>
  <p>Tiles can be swapped diagonally, but it's difficult to pull off. It's easier on larger screens, but still very
    touchy.</p>

    <p>Matching rules are the same as in other match-three games. Any 3-in-a-row tiles of the same colour will
      disappear.
      The more tiles you clear at once, the higher the combo and score caused. </p>
    <img src="static/css/pics/demo/combodemo.gif">

  <p>After 3 rounds, you can choose to share your score to the score board by clicking the share button. Your play
    result will be downloaded as PNG image. So you can save the result and share with your friends.</p>
  <div class="footing"></div>
</div>
{% endblock %}